svg:not(:root) { overflow: hidden;}

svg { width: 100%}

/*
svg g path,svg path {
    fill: #B4B4B4;
}
*/

.editorial {
  display: block;
  width: 100%;
  max-height: 100%;
}

.parallax>use {
  animation: move-forever 12s linear infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
}

.parallax>use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px,0);
  }
  
  100% {
    transform: translate(85px,0);
  }
}
